<div class="jumbotron text-center">
    <h1>MEAN Authentication Application</h1>
    <p class="lead">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam
        pariatur reiciendis eligendi sunt maiores dicta voluptates quis nesciunt
        et illo!
    </p>
    <div>
        <a routerLink="/login" class="btn btn-info mr-5">Login</a>
        <a routerLink="/register" class="btn btn-primary">Register</a>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h3>Express Backend</h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere quo
            vel hic odit animi? Nam corrupti praesentium itaque ducimus dolorem?
        </p>
    </div>
    <div class="col-md-4">
        <h3>Angular CLI</h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere quo
            vel hic odit animi? Nam corrupti praesentium itaque ducimus dolorem?
        </p>
    </div>
    <div class="col-md-4">
        <h3>JWT integrated</h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere quo
            vel hic odit animi? Nam corrupti praesentium itaque ducimus dolorem?
        </p>
    </div>
</div>
